
BRAND=""
DOMAIN=""

COMPOSE_PROJECT_NAME="${BRAND}"

DOCKER_CONFIG_ROOT="/opt/${BRAND}"
DATA_PATH="${DOCKER_CONFIG_ROOT}/data"
APP_PATH="${DOCKER_CONFIG_ROOT}/magento"

COMPOSER_USER="8c681734f22763b50ea0c29dff9e7af2"
COMPOSER_PASSWORD="02dfee497e669b5db1fe1c8d481d6974"
COMPOSER_MEMORY_LIMIT="-1"

CRYPT_KEY=""
GRAPHQL_ID_SALT=""
TIMEZONE="Europe/Berlin"
ROOT_PATH="/home/${BRAND}"
CURRENT_SYMLINK="public/current"
MAGENTO_UID="1000"

HEALTHCHECK_START_PERIOD="30s"
HEALTHCHECK_INTERVAL="30s"
HEALTHCHECK_TIMEOUT="10s"
HEALTHCHECK_RETRIES="3"

# supercronic:v0.2.44
# Mar 12, 2026, 5:05 PM GMT+1
SUPERCRONIC_VERSION="v0.2.44"
SUPERCRONIC_ARCH="amd64"
SUPERCRONIC_SHA1SUM="6eb0a8e1e6673675dc67668c1a9b6409f79c37bc"
SUPERCRONIC="supercronic-linux-${SUPERCRONIC_ARCH}"
SUPERCRONIC_URL=https://github.com/aptible/supercronic/releases/download/${SUPERCRONIC_VERSION}/${SUPERCRONIC}

# nginx:1.29.6-alpine3.23-slim
# Mar 11, 2026 at 8:51 am
NGINX_IMAGE="nginx@sha256:c8eb3bb3009bb98c04480e11405f5b4d38adbd0bf6df5f5e6ff552b236576331"
NGINX_UID="8080"
RESOLVER="resolver 127.0.0.11 valid=30s ipv6=off;"

# php 8.2.30 debian-13
# 2026-02-10T21:59:10Z
# Hardened Images - https://hub.docker.com/hardened-images/catalog/dhi/php
PHP_VERSION="8.2"
PHP_DEV_IMAGE="dhi.io/php@sha256:3b028611d1174dee64b24c931cf8ebb8bd2a4554dbd4b6bacf75296e469045c6"
PHP_FPM_IMAGE="dhi.io/php@sha256:bf3f88e26d8139be58c9e520babb2dc5dfb7f04cecf4c4f190f087c81f156295"
PHP_IMAGE="dhi.io/php@sha256:33ac13481542c6b3f868cbb71e8bb71a835752a270fad81664b5a6398a7fc3cf"
PHP_EXTENSION="gd xsl zip bcmath calendar exif ftp gettext ldap pcntl mysqli pdo_mysql soap sockets shmop ffi sysvmsg sysvsem sysvshm"
PHP_GD="--with-freetype --with-jpeg --with-webp"
PHP_XSL="--with-xsl"
PHP_ZIP="--with-libzip"
PHP_USER="php-${BRAND}"
PHP_UID="9000"
PHP_FPM="php:${PHP_UID}"

# mariadb:11.4.10-noble
# Mar 17, 2026 at 12:36 pm
MARIADB_IMAGE="mariadb@sha256:5559e323266d86bea94f48c338014b102a2031af2895484cf9d99d58d2cb9cd3"
MARIADB_RANDOM_ROOT_PASSWORD="yes"
MARIADB_AUTO_UPGRADE="yes"
MARIADB_DISABLE_UPGRADE_BACKUP="yes"
MARIADB_DATABASE="${BRAND}"
MARIADB_USER="${BRAND}"
MARIADB_UID="3306"

# redis:8.6.1-alpine3.23
# Feb 23, 2026 at 9:00 pm
REDIS_IMAGE="redis@sha256:2afba59292f25f5d1af200496db41bea2c6c816b059f57ae74703a50a03a27d0"
REDIS_CACHE_SIZE="1GB"
REDIS_SESSION_SIZE="1GB"
REDIS_SESSION_UID="6379"
REDIS_CACHE_UID="6380"

# varnish:7.7.3-alpine
# Jan 28, 2026 at 8:19 am
VARNISH_IMAGE="varnish@sha256:95deada23d0ef0cd1005cfe32463f3390f31a63f13682996bccdb5b01ea7f291"
VARNISH_SIZE="1G"
VARNISH_PRIVATE_IP="10.0.0.2:80"
VARNISH_UID="6082"

# opensearchproject/opensearch:2.19.5
# Mar 15, 2026 at 8:38 pm
OPENSEARCH_IMAGE="opensearchproject/opensearch@sha256:b35ccb8fbda049fe1cf4a935907365fc2009c41453c0e28597aed3b31d046c4f"
OPENSEARCH_XMS="-Xms512m"
OPENSEARCH_XMX="-Xmx512m"
OPENSEARCH_UID="9200"

# rabbitmq:4.1.8-management-alpine
# Mar 20, 2026 at 3:52 am
RABBITMQ_IMAGE="rabbitmq@sha256:d480f14509fead0c98f4ae626cab2a6d11afa8abaceb43bfa63e6c113b9a5c46"
RABBITMQ_UID="5672"
RABBITMQ_USER="${BRAND}"

# ghcr.io/imgproxy/imgproxy:3.31.1 
# 2026-03-17T05:29:05-07:00
IMGPROXY_IMAGE="ghcr.io/imgproxy/imgproxy@sha256:2b7a56dbf9c8a8e12e7109a5bdd27d31a8c1aa49f2116c927c6aedc37e18db98"
IMGPROXY_UID="4593"

# webstack dashboard
DASHBOARD_USERNAME=admin
DASHBOARD_UI_PORT=8181
DASHBOARD_PORT=3001

## generated passwords for services
