#
# Welcome to Magento 2 Docker Configuration
#  _ __ ___   __ _  __ _  ___ _ __ __  __
# | '_ ` _ \ / _` |/ _` |/ _ \ '_ \\ \/ /
# | | | | | | (_| | (_| |  __/ | | |>  < 
# |_| |_| |_|\__,_|\__, |\___|_| |_/_/\_\
#                   __/ |                
#                  |___/                 
#
# This config was created by magenx.com
# If you have any questions or need help
# please dont hesitate to contact us at:
#
# [admin email]: admin@magenx.com
# [website url]: https://www.magenx.com

# -----------------------------------------------------------------------------------------------------------------------
#  Configure logger driver
# -----------------------------------------------------------------------------------------------------------------------
x-logger: &logger
  logging:
    driver: syslog
    options:
      syslog-address: "unixgram:///dev/log"
      mode: non-blocking
      tag: "[ {{.Name}} ]"

# -----------------------------------------------------------------------------------------------------------------------
#  Configure ulimits
# -----------------------------------------------------------------------------------------------------------------------
x-ulimits: &ulimits
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 65536
      hard: 65536

# -----------------------------------------------------------------------------------------------------------------------
#  Configure capabilities
# -----------------------------------------------------------------------------------------------------------------------
x-cap_add: &cap_add
  cap_add:
    - SYS_PTRACE

# -----------------------------------------------------------------------------------------------------------------------
#  Configure healthcheck
# -----------------------------------------------------------------------------------------------------------------------
x-healthcheck-default: &healthcheck_default
  start_period: ${HEALTHCHECK_START_PERIOD}
  interval: ${HEALTHCHECK_INTERVAL}
  timeout: ${HEALTHCHECK_TIMEOUT}
  retries: ${HEALTHCHECK_RETRIES}

# -----------------------------------------------------------------------------------------------------------------------
#  Services configuration parameters
# -----------------------------------------------------------------------------------------------------------------------
services:

# -----------------------------------------------------------------------------------------------------------------------
#  MariaDB is a high performing open source relational database
# -----------------------------------------------------------------------------------------------------------------------
  mariadb:
    container_name: mariadb
    hostname: mariadb
    build:
      context: ./mariadb
      args:
        - MARIADB_IMAGE
    environment:
      - MARIADB_AUTO_UPGRADE
      - MARIADB_DISABLE_UPGRADE_BACKUP
      - MARIADB_RANDOM_ROOT_PASSWORD
      - MARIADB_DATABASE
      - MARIADB_USER
      - MARIADB_PASSWORD
      - TIMEZONE
    command: >
      --key_buffer_size=16M
      --myisam-recover-options=FORCE,BACKUP
      --innodb=force
      --max_allowed_packet=250M
      --max_connect_errors=100000
      --bind-address=mariadb
      --skip-name-resolve
      --back_log=20
      --interactive_timeout=600
      --wait_timeout=600
      --net_read_timeout=120
      --net_write_timeout=300
      --sort_buffer_size=1M
      --read_buffer_size=1M
      --read_rnd_buffer_size=1M
      --join_buffer_size=1M
      --tmp_table_size=128M
      --max_heap_table_size=128M
      --max_connections=150
      --thread_cache_size=32
      --thread_pool_size=16
      --open_files_limit=65535
      --table_definition_cache=4000
      --table_open_cache=4000
      --innodb_lock_wait_timeout=600
      --innodb_flush_log_at_trx_commit=2
      --innodb_log_file_size=128M
      --innodb_log_buffer_size=8M
      --innodb_read_io_threads=8
      --innodb_write_io_threads=8
      --innodb_buffer_pool_size=2G
      --skip-log-bin
      --disable-log-bin
    expose:
      - "${MARIADB_UID}"
    networks:
      - backend
    volumes:
      - ${DATA_PATH}/mariadb:/var/lib/mysql
    user: "${MARIADB_UID}:${MARIADB_UID}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized", "--innodb_buffer_pool_loaded"]
      <<: *healthcheck_default
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  Opensearch is a powerful open source search and analytics engine
# -----------------------------------------------------------------------------------------------------------------------
  opensearch:
    container_name: opensearch
    hostname: opensearch
    build:
      context: ./opensearch
      args:
        - OPENSEARCH_IMAGE
    develop:
      watch:
        - path: ./opensearch
          action: rebuild
    environment:
      - cluster.name=${BRAND}-cluster
      - node.name=${BRAND}-node1
      - node.attr.rack=${BRAND}-rack1
      - discovery.type=single-node
      - cluster.routing.allocation.enable=all
      - bootstrap.memory_lock=true
      - plugins.security.ssl.transport.enforce_hostname_verification=false
      - plugins.security.ssl.http.enabled=false
      - plugins.security.allow_unsafe_democertificates=true
      - plugins.security.allow_default_init_securityindex=true
      - OPENSEARCH_JAVA_OPTS=${OPENSEARCH_XMS} ${OPENSEARCH_XMX}
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_ADMIN_PASSWORD}
    expose:
      - "${OPENSEARCH_UID}"
      - "9300"
    networks:
      - frontend
    volumes:
      - ${DATA_PATH}/opensearch:/usr/share/opensearch/data
      - ${DATA_PATH}/opensearch/logs:/usr/share/opensearch/logs
    user: "${OPENSEARCH_UID}:${OPENSEARCH_UID}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -XGET -u admin:${OPENSEARCH_ADMIN_PASSWORD} 'http://opensearch:${OPENSEARCH_UID}/_cluster/health?wait_for_status=yellow&timeout=15s' || exit 1"]
      <<: *healthcheck_default
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  Redis is an open source key-value store that functions as a data structure server.
# -----------------------------------------------------------------------------------------------------------------------
  cache:
    image: &redis_image ${REDIS_IMAGE}
    container_name: cache
    hostname: cache
    command: >
      --bind cache
      --port ${REDIS_CACHE_UID}
      --save 300 10000
      --appendonly yes
      --activerehashing yes
      --loglevel warning
      --requirepass ${REDIS_PASSWORD}
      --maxmemory ${REDIS_CACHE_SIZE}
      --maxmemory-policy allkeys-lru
      --lazyfree-lazy-eviction yes
      --lazyfree-lazy-expire yes
      --lazyfree-lazy-server-del yes
      --replica-lazy-flush yes
      --lazyfree-lazy-user-del yes
    expose:
      - "${REDIS_CACHE_UID}"
    networks:
      - frontend
    volumes:
      - ${DATA_PATH}/redis-cache:/data
    user: "${REDIS_CACHE_UID}:${REDIS_CACHE_UID}"
    restart: unless-stopped
    mem_limit: ${REDIS_CACHE_SIZE}
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  Redis is an open source key-value store that functions as a data structure server.
# -----------------------------------------------------------------------------------------------------------------------
  session:
    image: *redis_image
    container_name: session
    hostname: session
    command: >
      --bind session
      --port ${REDIS_SESSION_UID}
      --save 60 100
      --appendonly yes
      --activerehashing yes
      --loglevel warning
      --requirepass ${REDIS_PASSWORD}
      --maxmemory ${REDIS_SESSION_SIZE}
      --maxmemory-policy allkeys-lru
      --lazyfree-lazy-eviction yes
      --lazyfree-lazy-expire yes
      --lazyfree-lazy-server-del yes
      --replica-lazy-flush yes
      --lazyfree-lazy-user-del yes
    expose:
      - "${REDIS_SESSION_UID}"
    networks:
      - frontend
    volumes:
      - ${DATA_PATH}/redis-session:/data
    user: "${REDIS_SESSION_UID}:${REDIS_SESSION_UID}"
    restart: unless-stopped
    mem_limit: ${REDIS_SESSION_SIZE}
    healthcheck:
      test: ["CMD", "redis-cli", "-h", "session", "-p", "${REDIS_SESSION_UID}", "-a", "${REDIS_PASSWORD}", "ping"]
      <<: *healthcheck_default
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  RabbitMQ is an open source multi-protocol messaging broker
# -----------------------------------------------------------------------------------------------------------------------                
  rabbitmq:
    image: ${RABBITMQ_IMAGE}
    container_name: rabbitmq
    hostname: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${BRAND}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
      - RABBITMQ_DEFAULT_VHOST=/${BRAND}
    expose:
      - "5672"
      - "15672"
    networks:
      - frontend
    volumes:
      - ${DATA_PATH}/rabbitmq:/var/lib/rabbitmq
    user: "${RABBITMQ_UID}:${RABBITMQ_UID}"
    restart: unless-stopped
    mem_limit: 1G
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  Varnish is an HTTP accelerator designed for content-heavy dynamic web sites as well as APIs.
# -----------------------------------------------------------------------------------------------------------------------                  
  varnish:
    container_name: varnish
    hostname: varnish
    build:
      context: ./varnish
      args:
        - VARNISH_IMAGE
        - VARNISH_SIZE
        - TIMEZONE
    develop:
      watch:
        - path: ./varnish
          action: rebuild
    environment:
      - DOMAIN
      - PROFILER
    depends_on:
      - nginx
      - php
    ports:
      - "80:80"
    networks:
      - frontend
    volumes:
      - type: tmpfs
        target: /var/lib/varnish/varnishd:exec
        tmpfs:
          size: 64m
          mode: 1770
    user: "${VARNISH_UID}:${VARNISH_UID}"
    restart: unless-stopped
    mem_limit: ${VARNISH_SIZE}
    healthcheck:
      test: ["CMD", "varnishadm", "ping"]
      <<: *healthcheck_default
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  Configure container to run php and php-fpm
# -----------------------------------------------------------------------------------------------------------------------    
  php:
    container_name: php
    hostname: php
    build:
      context: ./php
      args: &magento_arg
        - BRAND
        - DOMAIN
        - PHP_USER
        - ADMIN_PATH
        - ROOT_PATH
        - PHP_PACKAGES
        - PHP_VERSION
        - PHP_FPM_CONFIG
        - PHP_INI
        - TIMEZONE
        - ALPINE_IMAGE
        - CURRENT_SYMLINK
    develop:
      watch:
        - path: ./php
          action: rebuild
    environment: &php_env
      - COMPOSER_MEMORY_LIMIT
      - MARIADB_DATABASE
      - MARIADB_USER
      - MARIADB_PASSWORD
      - RABBITMQ_PASSWORD
      - REDIS_PASSWORD
      - OPENSEARCH_PASSWORD
      - BRAND
      - DOMAIN
      - ROOT_PATH
      - ADMIN_PATH
      - CRYPT_KEY
      - CURRENT_SYMLINK
      - GRAPHQL_ID_SALT
    depends_on:
      mariadb:
        condition: service_healthy
    expose:
      - "9000"
    networks:
      - backend
      - frontend
    volumes:
      - ${APP_PATH}/public:${ROOT_PATH}/public:ro
      - ${APP_PATH}/shared/var:${ROOT_PATH}/shared/var
      - ${APP_PATH}/shared/pub/media:${ROOT_PATH}/shared/pub/media
      - ${APP_PATH}/releases:${ROOT_PATH}/releases
    working_dir: "${ROOT_PATH}/${CURRENT_SYMLINK}"
    user: "${PHP_UID}:${PHP_UID}"
    entrypoint: ["php-fpm${PHP_VERSION}", "-F"]
    restart: unless-stopped
    <<: [*ulimits, *cap_add, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  Configure container for magento app
# -----------------------------------------------------------------------------------------------------------------------    
  magento:
    container_name: magento
    build:
      context: ./magento
      args: *magento_arg
    develop:
      watch:
        - path: ./magento
          action: rebuild
    environment: *php_env
    volumes:
      - ${APP_PATH}/public:${ROOT_PATH}/public
      - ${APP_PATH}/shared/var:${ROOT_PATH}/shared/var
      - ${APP_PATH}/shared/pub/media:${ROOT_PATH}/shared/pub/media
      - ${APP_PATH}/releases:${ROOT_PATH}/releases
    working_dir: "${ROOT_PATH}/${CURRENT_SYMLINK}"
    networks:
      - backend
      - frontend
    user: "${MAGENTO_UID}:${PHP_UID}"
    entrypoint: ["/entrypoint.sh"]
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#  Nginx is an open source reverse proxy server for HTTP, HTTPS
# -----------------------------------------------------------------------------------------------------------------------                   
  nginx:
    container_name: nginx
    hostname: nginx
    build:
      context: ./nginx
      args:
        - NGINX_IMAGE
        - BRAND
        - DOMAIN
        - PHP_USER
        - PHP_FPM
        - TIMEZONE
        - PROFILER
        - RESOLVER
        - ROOT_PATH
        - ADMIN_PATH
        - RABBITMQ_PATH
        - CURRENT_SYMLINK
    develop:
      watch:
        - path: ./nginx
          action: rebuild
    depends_on:
      mariadb:
        condition: service_healthy
      php:
        condition: service_started
    expose:
      - "80"
    networks:
      - frontend 
    volumes:
      - ${APP_PATH}/public:${ROOT_PATH}/public:ro
      - ${APP_PATH}/shared/var:${ROOT_PATH}/shared/var:ro
      - ${APP_PATH}/shared/pub/media:${ROOT_PATH}/shared/pub/media:ro
      - ${APP_PATH}/releases:${ROOT_PATH}/releases:ro
      - ${DATA_PATH}/nginx/log:/var/log/nginx
      - ${DATA_PATH}/nginx/cache:/var/cache/nginx
    working_dir: "${ROOT_PATH}/${CURRENT_SYMLINK}"
    user: "${NGINX_UID}:${NGINX_UID}"
    restart: unless-stopped
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#   Cron job scheduler run arbitrary commands, or "jobs", according to a schedule
# ----------------------------------------------------------------------------------------------------------------------- 
  cron:
    container_name: cron
    build:
      context: ./cron
      args: *magento_arg
    develop:
      watch:
        - path: ./cron
          action: rebuild
    environment: *php_env
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - backend
    volumes:
      - ${APP_PATH}/public:${ROOT_PATH}/public
      - ${APP_PATH}/shared/var:${ROOT_PATH}/shared/var
      - ${APP_PATH}/shared/pub/media:${ROOT_PATH}/shared/pub/media
      - ${APP_PATH}/releases:${ROOT_PATH}/releases
    working_dir: "${ROOT_PATH}/${CURRENT_SYMLINK}"
    user: "${PHP_UID}:${PHP_UID}"
    command: ["crond", "-f"]
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#   Fast and secure standalone server for resizing, processing, and converting images
# ----------------------------------------------------------------------------------------------------------------------- 
  imgproxy:
    image: ${IMGPROXY_IMAGE}
    container_name: imgproxy
    environment:
      - IMGPROXY_ALLOW_INSECURE=true
      - IMGPROXY_ALLOWED_SOURCES=local://,http://127.0.0.1/
      - IMGPROXY_LOCAL_FILESYSTEM_ROOT=${ROOT_PATH}/shared/pub/media
      #- IMGPROXY_FALLBACK_IMAGE_PATH=${ROOT_PATH}/shared/pub/media/catalog/product/placeholder/default/placeholder.jpg
      #- IMGPROXY_WATERMARK_PATH=${ROOT_PATH}/shared/pub/media/catalog/product/placeholder/default/watermark.jpg
      - IMGPROXY_MAX_REDIRECTS=1
      - IMGPROXY_TTL=31536000
      - IMGPROXY_AUTO_WEBP=1
      - IMGPROXY_AUTO_AVIF=1
      - IMGPROXY_QUALITY=70
      - IMGPROXY_FORMAT_QUALITY=jpeg=70,avif=40,webp=60
      - IMGPROXY_BIND=0.0.0.0:${IMGPROXY_UID}
      - IMGPROXY_USE_ETAG=true
      - IMGPROXY_CONCURRENCY=10
      - IMGPROXY_TIMEOUT=5
      - IMGPROXY_READ_REQUEST_TIMEOUT=5
      - IMGPROXY_WRITE_RESPONSE_TIMEOUT=5
      - IMGPROXY_DOWNLOAD_TIMEOUT=5
      - IMGPROXY_ENABLE_DEBUG_HEADERS=true
    depends_on:
      nginx:
         condition: service_started
    volumes:
      - ${APP_PATH}/shared/pub/media:${ROOT_PATH}/shared/pub/media:ro
    expose:
      - "${IMGPROXY_UID}"
    networks:
      - frontend
    working_dir: "${ROOT_PATH}/shared/pub/media"
    user: "${IMGPROXY_UID}:${IMGPROXY_UID}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "imgproxy", "health"]
      <<: *healthcheck_default
    <<: [*ulimits, *logger]

# -----------------------------------------------------------------------------------------------------------------------
#   Named networks list
# ----------------------------------------------------------------------------------------------------------------------- 
networks:
  frontend:
  backend:
